@import "variables";
@import "src/scss/header.scss";
@import "src/scss/footer.scss";
@import "src/scss/input-window.scss";

$colorInput: yellow;
.input-wrapper {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 234px;

    &.width1 {
      width: $inputWidth;
    }

    &.width2 {
      width: calc(150px + 150px + 30px)
    }

    &.width3 {
      width: calc(150px + 150px + 150px + 30px + 30px)
    }

    &.width4 {
      width: calc(150px + 150px + 150px + 150px + 30px + 30px + 30px)
    }

    &.width5 {
      width: calc(150px + 150px + 150px + 150px + 150px + 30px + 30px + 30px + 30px)
    }
  }

  &__switch {
    width: 140px;
    margin-left: 15px;

    .switch__lever {
      margin-left: 4px;
    }
  }
}

.input-column {
  display: flex;
  flex-direction: column;
  max-width: $inputWidth;
  width: $inputWidth;

  &__icon-wrapper {
    width: 100%;
    text-align: right;
    height: 20px;

    .material-icons {
      font-size: 20px;
      cursor: pointer;
    }
  }

  &__wrapper {
    padding-right: 5px;
  }


}

.input-item {
  padding: 5px;
  margin: 3px;
  outline: none;
  border: 1px solid $colorGrey;
  border-radius: 4px;
  font-size: 11px;
}

.swiper-test {
  width: 100px;
  height: 50px;

  &--red {
    background-color: red;
  }

  &--green {
    background-color: green;
  }
}
