@import "variables";
@import "mixins";

.input-window {
  @include window();
  width: 100%;
  height: 310px;
  left: 0;
  border-top: 1px solid $colorGrey;
  border-bottom: 1px solid $colorGrey;

  &--hidden {
    bottom: -100%;
  }

  &--show {
    bottom: $footerHeight;
  }

  &__menu {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    // margin-bottom: 20px;
    cursor: pointer;

    .material-icons {
      font-size: 38px;
      padding-right: 8px;
    }

    &--disable {
      opacity: 0.4;
    }
  }

  &__scale-input {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;

    input {
      width: 20px;
      margin-left: 8px;
    }
  }
}
