@import "variables";
@import "mixins";

.setting-window {
  @include window();
  width: 100%;
  height: 35%;
  left: 0;
  border-top: 1px solid $colorGrey;
  border-bottom: 1px solid $colorGrey;

  &--hidden {
    bottom: -100%;
  }

  &--show {
    bottom: $footerHeight;
  }

  &__header {
    font-size: 28px;
    padding: 40px;
  }
}
