@import "variables";
@import "src/scss/header.scss";
@import "src/scss/footer.scss";
@import "src/scss/input-window.scss";

$colorInput: yellow;
.single-loads {
  &__wrapper {
    display: flex;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__switch {
    width: 140px;
    margin-left: 15px;
    margin-top: 66px;

    .switch__lever {
      margin-left: 4px;
    }
  }
}

.input-row {
  display: flex;
  margin-bottom: 5px;
  flex-direction: column;
  width: $inputWidth;
  min-width: $inputWidth;

  &__icon-wrapper {
    width: 100%;
    text-align: right;
    height: 20px;

    .material-icons {
      font-size: 20px;
      cursor: pointer;
    }
  }

  &__wrapper {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__note {
    padding: 2px;
    font-size: 12px;
    align-self: flex-start;
  }
}

.input-item {
  padding: 5px;
  margin: 3px;
  outline: none;
  border: 1px solid $colorGrey;
  border-radius: 4px;
  font-size: 11px;
}
